<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="{{ .Keywords }}" />
	<meta name="author" content="Momo Web" />
	<meta name="description" content="{{ .Descriptions }}" />
	<meta property="og:title" content="{{ .Title }}" />
	<meta property="og:description" content="{{ .Descriptions }}" />
	<meta property="og:image" content="" />

	<!-- FAVICONS ICON -->
	<link rel="icon" href="{{ .Site.BaseURL }}/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}/images/favicon.png" />

	<!-- PAGE TITLE HERE -->
	<title>Tradezone - Factory & Industrial HTML Template</title>

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if lt IE 9]>
	<script src="{{ .Site.BaseURL }}/js/html5shiv.min.js"></script>
	<script src="{{ .Site.BaseURL }}/js/respond.min.js"></script>
	<![endif]-->

	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/plugins.css">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/style.css">
	<link class="skin" rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/skin/skin-3.css">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/templete.css">
	<!-- Google Font -->
	<style>
		@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap');
	</style>

	<!-- REVOLUTION SLIDER CSS -->
	<link rel="stylesheet" type="text/css"
		href="{{ .Site.BaseURL }}/plugins/revolution/revolution/css/revolution.min.css">

	<style type="text/css">
		.soundcloudwrapper iframe {
			width: 100% !important
		}

		.news-header .tp-tab-title {
			color: #fff;
			font-size: 17px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 5px;
			width: 350px;
			display: block;
			letter-spacing: 1px;
		}

		.news-header .tp-tab-desc {
			font-size: 16px;
			font-weight: 500;
			color: var(--color-primary);
			line-height: 25px;
		}
	</style>
</head>

<body id="bg">
	<div class="page-wraper">
		<!-- <div id="loading-area" class="agriculture-loading"></div> -->
		{{ partial "main-navigation" . }}
		<!-- Content -->
		<div class="page-content bg-white">
			<!-- Slider -->
			<div class="main-slider style-two default-banner" id="home">
				<div class="tp-banner-container">
					<div class="tp-banner">
						<div id="rev_slider_1164_1_wrapper" class="rev_slider_wrapper fullscreen-container"
							data-alias="exploration-header" data-source="gallery"
							style="background-color:transparent;padding:0px;">
							<!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
							<div id="rev_slider_1164_1" class="rev_slider fullscreenbanner" style="display:none;"
								data-version="5.4.1">
								<ul>
									<!-- SLIDE  -->
									<li data-index="rs-3204" data-transition="slideoververtical"
										data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
										data-easein="default" data-easeout="default" data-masterspeed="default"
										data-thumb="tz/images/slide1.jpg" data-rotate="0" data-fstransition="fade"
										data-fsmasterspeed="2000" data-fsslotamount="7" data-saveperformance="off"
										data-title="Kursus Montir Sepeda Motor" data-param1="" data-param2=""
										data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
										data-param8="" data-param9="" data-param10="" data-description="">
										<!-- MAIN IMAGE -->
										<img src="{{ .Site.BaseURL }}/images/slide1.jpg" alt=""
											data-lazyload="tz/images/slide1.jpg" data-bgposition="center bottom"
											data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off"
											class="rev-slidebg" data-no-retina>
										<!-- LAYERS -->
										<div class="tp-caption tp-shape tp-shapewrapper " id="slide-100-layer"
											data-x="['center','center','center','center']"
											data-hoffset="['0','0','0','0']"
											data-y="['middle','middle','middle','middle']"
											data-voffset="['0','0','0','0']" data-width="full" data-height="full"
											data-whitespace="nowrap" data-type="shape" data-basealign="slide"
											data-responsive_offset="off" data-responsive="off"
											data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 2;background-color:rgba(0, 0, 0, 0.0);border-color:rgba(0, 0, 0, 0);border-width:0px;">
										</div>
										<!-- LAYER NR. 1 -->
										<div class="tp-caption  " id="slide-3204-layer-1"
											data-x="['left','left','left','left']" data-hoffset="['94','114','76','26']"
											data-y="['top','top','top','top']" data-voffset="['213','193','195','85']"
											data-fontsize="['60','45','35','25']"
											data-lineheight="['60','45','35','30']"
											data-width="['700','560','340','260']" data-height="none"
											data-whitespace="normal" data-type="text" data-basealign="slide"
											data-responsive_offset="off" data-responsive="off"
											data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 5; min-width: 700px; max-width: 700px; white-space: normal; font-size: 60px; line-height: 60px; font-weight: 600; color: rgba(255, 255, 255, 1.00);border-width:0px;">
											TECHNO MOTOR<br />ACADEMY
										</div>
										<!-- LAYER NR. 2 -->
										<div class="tp-caption tp-shape tp-shapewrapper " id="slide-3204-layer-2"
											data-x="['left','left','left','left']" data-hoffset="['50','70','50','0']"
											data-y="['top','top','top','top']" data-voffset="['220','200','200','90']"
											data-width="8" data-height="['104','77','59','48']" data-whitespace="normal"
											data-type="shape" data-basealign="slide" data-responsive_offset="off"
											data-responsive="off"
											data-frames='[{"from":"sY:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 6;background-color:#ff8e00;border-color:rgba(0, 0, 0, 0);border-width:0px;">
										</div>
										<!-- LAYER NR. 3 -->
										<div class="tp-caption  " id="slide-3204-layer-3"
											data-x="['left','left','left','left']" data-hoffset="['98','118','76','26']"
											data-y="['top','top','top','top']" data-voffset="['358','302','284','163']"
											data-width="['600','560','340','260']" data-height="none"
											data-whitespace="normal" data-type="text" data-basealign="slide"
											data-responsive_offset="off" data-responsive="off"
											data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 7; min-width: 600px; max-width: 600px; white-space: normal; font-size: 17px; line-height: 22px; font-weight: 500; color: rgba(255, 255, 255, 0.85);border-width:0px;letter-spacing:2px;">
											Kursus Montir Motor Paling Dicari Di Indonesia.
										</div>
										<!-- LAYER NR. 4 -->
										<a href="#daftar" class="tp-caption rev-btn " id="slide-3204-layer-4"
											data-x="['left','left','left','left']" data-hoffset="['50','70','50','26']"
											data-y="['top','top','top','top']" data-voffset="['465','401','385','276']"
											data-fontweight="['900','700','700','700']" data-width="none"
											data-height="none" data-whitespace="nowrap" data-type="button"
											data-basealign="slide" data-responsive_offset="off" data-responsive="off"
											data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[45,45,45,45]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[45,45,45,45]"
											style="z-index: 8; white-space: nowrap; font-size: 15px; line-height: 50px; font-weight: 500; color: #fff;background-color:rgba(0, 0, 0, 0);border-color:#fff;border-style:solid;border-width:2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
											Daftar Sekarang <i style="font-size:13px;margin-left:10px;"
												class="fa fa-chevron-right"></i>
										</a>
									</li>
									<li data-index="rs-3205" data-transition="slideoververtical"
										data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
										data-easein="default" data-easeout="default" data-masterspeed="default"
										data-thumb="tz/images/slide2.jpg" data-rotate="0" data-fstransition="fade"
										data-fsmasterspeed="2000" data-fsslotamount="7" data-saveperformance="off"
										data-title="Slide 2" data-param1="" data-param2="" data-param3="" data-param4=""
										data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
										data-param10="" data-description="">
										<!-- MAIN IMAGE -->
										<img src="{{ .Site.BaseURL }}/images/slide2.jpg" alt=""
											data-lazyload="tz/images/slide2.jpg" data-bgposition="center bottom"
											data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off"
											class="rev-slidebg" data-no-retina>
										<!-- LAYERS -->
										<div class="tp-caption tp-shape tp-shapewrapper " id="slide-100-layer"
											data-x="['center','center','center','center']"
											data-hoffset="['0','0','0','0']"
											data-y="['middle','middle','middle','middle']"
											data-voffset="['0','0','0','0']" data-width="full" data-height="full"
											data-whitespace="nowrap" data-type="shape" data-basealign="slide"
											data-responsive_offset="off" data-responsive="off"
											data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 2;background-color:rgba(0, 0, 0, 0.0);border-color:rgba(0, 0, 0, 0);border-width:0px;">
										</div>
										<!-- LAYER NR. 1 -->
										<div class="tp-caption  " id="slide-3204-layer-1"
											data-x="['left','left','left','left']" data-hoffset="['94','114','76','26']"
											data-y="['top','top','top','top']" data-voffset="['213','193','195','85']"
											data-fontsize="['60','45','35','25']"
											data-lineheight="['60','45','35','30']"
											data-width="['700','560','340','260']" data-height="none"
											data-whitespace="normal" data-type="text" data-basealign="slide"
											data-responsive_offset="off" data-responsive="off"
											data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 5; min-width: 700px; max-width: 700px; white-space: normal; font-size: 60px; line-height: 60px; font-weight: 600; color: rgba(255, 255, 255, 1.00);border-width:0px;">
											TECHNO MOTOR<br />ACADEMY
										</div>
										<!-- LAYER NR. 2 -->
										<div class="tp-caption tp-shape tp-shapewrapper " id="slide-3204-layer-2"
											data-x="['left','left','left','left']" data-hoffset="['50','70','50','0']"
											data-y="['top','top','top','top']" data-voffset="['220','200','200','90']"
											data-width="8" data-height="['104','77','59','48']" data-whitespace="normal"
											data-type="shape" data-basealign="slide" data-responsive_offset="off"
											data-responsive="off"
											data-frames='[{"from":"sY:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 6;background-color:#ff8e00;border-color:rgba(0, 0, 0, 0);border-width:0px;">
										</div>
										<!-- LAYER NR. 3 -->
										<div class="tp-caption  " id="slide-3204-layer-3"
											data-x="['left','left','left','left']" data-hoffset="['98','118','76','26']"
											data-y="['top','top','top','top']" data-voffset="['358','302','284','163']"
											data-width="['600','560','340','260']" data-height="none"
											data-whitespace="normal" data-type="text" data-basealign="slide"
											data-responsive_offset="off" data-responsive="off"
											data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 7; min-width: 600px; max-width: 600px; white-space: normal; font-size: 17px; line-height: 22px; font-weight: 500; color: rgba(255, 255, 255, 0.85);border-width:0px;letter-spacing:2px;">
											Kursus Montir Motor Paling Dicari Di Indonesia.
										</div>
										<!-- LAYER NR. 4 -->
										<div class="tp-caption rev-btn " id="slide-3204-layer-4"
											data-x="['left','left','left','left']" data-hoffset="['50','70','50','26']"
											data-y="['top','top','top','top']" data-voffset="['465','401','385','276']"
											data-fontweight="['900','700','700','700']" data-width="none"
											data-height="none" data-whitespace="nowrap" data-type="button"
											data-basealign="slide" data-responsive_offset="off" data-responsive="off"
											data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[45,45,45,45]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[45,45,45,45]"
											style="z-index: 8; white-space: nowrap; font-size: 15px; line-height: 50px; font-weight: 500; color: #fff;background-color:rgba(0, 0, 0, 0);border-color:#fff;border-style:solid;border-width:2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
											Daftar Sekarang <i style="font-size:13px;margin-left:10px;"
												class="fa fa-chevron-right"></i>
										</div>
									</li>
									<li data-index="rs-3206" data-transition="slideoververtical"
										data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
										data-easein="default" data-easeout="default" data-masterspeed="default"
										data-thumb="tz/images/slide2.jpg" data-rotate="0" data-fstransition="fade"
										data-fsmasterspeed="2000" data-fsslotamount="7" data-saveperformance="off"
										data-title="Slide 2" data-param1="" data-param2="" data-param3="" data-param4=""
										data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
										data-param10="" data-description="">
										<!-- MAIN IMAGE -->
										<img src="{{ .Site.BaseURL }}/images/slide3.jpg" alt=""
											data-lazyload="tz/images/slide2.jpg" data-bgposition="center bottom"
											data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off"
											class="rev-slidebg" data-no-retina>
										<!-- LAYERS -->
										<div class="tp-caption tp-shape tp-shapewrapper " id="slide-100-layer"
											data-x="['center','center','center','center']"
											data-hoffset="['0','0','0','0']"
											data-y="['middle','middle','middle','middle']"
											data-voffset="['0','0','0','0']" data-width="full" data-height="full"
											data-whitespace="nowrap" data-type="shape" data-basealign="slide"
											data-responsive_offset="off" data-responsive="off"
											data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 2;background-color:rgba(0, 0, 0, 0.0);border-color:rgba(0, 0, 0, 0);border-width:0px;">
										</div>
										<!-- LAYER NR. 1 -->
										<div class="tp-caption  " id="slide-3204-layer-1"
											data-x="['left','left','left','left']" data-hoffset="['94','114','76','26']"
											data-y="['top','top','top','top']" data-voffset="['213','193','195','85']"
											data-fontsize="['60','45','35','25']"
											data-lineheight="['60','45','35','30']"
											data-width="['700','560','340','260']" data-height="none"
											data-whitespace="normal" data-type="text" data-basealign="slide"
											data-responsive_offset="off" data-responsive="off"
											data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 5; min-width: 700px; max-width: 700px; white-space: normal; font-size: 60px; line-height: 60px; font-weight: 600; color: rgba(255, 255, 255, 1.00);border-width:0px;">
											TECHNO MOTOR<br />ACADEMY
										</div>
										<!-- LAYER NR. 2 -->
										<div class="tp-caption tp-shape tp-shapewrapper " id="slide-3204-layer-2"
											data-x="['left','left','left','left']" data-hoffset="['50','70','50','0']"
											data-y="['top','top','top','top']" data-voffset="['220','200','200','90']"
											data-width="8" data-height="['104','77','59','48']" data-whitespace="normal"
											data-type="shape" data-basealign="slide" data-responsive_offset="off"
											data-responsive="off"
											data-frames='[{"from":"sY:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 6;background-color:#ff8e00;border-color:rgba(0, 0, 0, 0);border-width:0px;">
										</div>
										<!-- LAYER NR. 3 -->
										<div class="tp-caption  " id="slide-3204-layer-3"
											data-x="['left','left','left','left']" data-hoffset="['98','118','76','26']"
											data-y="['top','top','top','top']" data-voffset="['358','302','284','163']"
											data-width="['600','560','340','260']" data-height="none"
											data-whitespace="normal" data-type="text" data-basealign="slide"
											data-responsive_offset="off" data-responsive="off"
											data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 7; min-width: 600px; max-width: 600px; white-space: normal; font-size: 17px; line-height: 22px; font-weight: 500; color: rgba(255, 255, 255, 0.85);border-width:0px;letter-spacing:2px;">
											Kursus Montir Motor Paling Dicari Di Indonesia.
										</div>
										<!-- LAYER NR. 4 -->
										<div class="tp-caption rev-btn " id="slide-3204-layer-4"
											data-x="['left','left','left','left']" data-hoffset="['50','70','50','26']"
											data-y="['top','top','top','top']" data-voffset="['465','401','385','276']"
											data-fontweight="['900','700','700','700']" data-width="none"
											data-height="none" data-whitespace="nowrap" data-type="button"
											data-basealign="slide" data-responsive_offset="off" data-responsive="off"
											data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[45,45,45,45]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[45,45,45,45]"
											style="z-index: 8; white-space: nowrap; font-size: 15px; line-height: 50px; font-weight: 500; color: #fff;background-color:rgba(0, 0, 0, 0);border-color:#fff;border-style:solid;border-width:2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
											Daftar Sekarang <i style="font-size:13px;margin-left:10px;"
												class="fa fa-chevron-right"></i>
										</div>
									</li>
								</ul>
								<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
							</div>
						</div><!-- END REVOLUTION SLIDER -->
					</div>
				</div>
			</div>
			<!-- Slider END -->

			<!-- contact area -->
			<div class="content-block">
				<!-- Features -->
				<div class="section-full content-inner bg-gray" style="background-image:url();">
					<div class="container" id="tentang">
						<div class="section-head text-center">
							<h5 class="title-small">Sekilas Tentang</h5>
							<div class="dlab-separator-outer">
								<div class="dlab-separator bg-primary style-skew"></div>
							</div>
							<h2 class="title">Techno Motor Academy</h2>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<p>Techno Motor Academy adalah tempat kursus montir sepeda motor yang memiliki visi dan
									misi menjadi lembaga kursus montir sepeda motor nasional terbesar yang memberikan
									solusi terlengkap dan berkualitas bagi para peserta kursus. </p>
							</div>
							<div class="col-md-6 col-sm-12">
								<p>Berlatar belakang dari semakin berkembangnya dunia otomotif sepeda motor dan semakin
									meningkatnya kebutuhan tenaga montir sepeda motor, Techno Motor Academy berusaha
									untuk mengakomodir para siswa yang berminat untuk menekuni bidang otomotif sepeda
									motor sekaligus memenuhi kebutuhan pasar akan tenaga kerja montir sepeda motor. </p>
							</div>

							<div class="col-md-12 col-sm-12 text-center">
								<h5 class="title-small">Kenapa Harus Kursus Di TMA?</h5>
								<div class="dlab-separator-outer">
									<div class="dlab-separator bg-primary style-skew"></div>
								</div>
								<h2 class="text-centered">Berbagai Keunggulan Yang Kami Tawarkan</h2>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-duration="2s"
								data-wow-delay="0.3s">
								<div class="dlab-box service-box-6">
									<div class="dlab-media">
										<a href="javascript:void(0);"><img src="https://placehold.it/500x556"
												alt="" /></a>
									</div>
									<div class="dlab-info">
										<div class="icon-bx-sm radius bg-primary m-b20">
											<a href="javascript:void(0);" class="icon-cell">
												<img src="" alt="icon 1" />
											</a>
										</div>
										<h4 class="title"><a href="javascript:void(0);">Pembayaran Bisa Diangsur</a>
										</h4>
										<div class="dlab-separator bg-primary m-b0"></div>
										<div class="readmore">
											<!-- <a href="javascript:void(0);" class="site-button btnhover14">Learn More</a> -->
											<p style="color: #fff;">Memudahkan kamu yang ingin belajar tapi terkendala
												pembiayaan.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-duration="2s"
								data-wow-delay="0.6s">
								<div class="dlab-box service-box-6">
									<div class="dlab-media">
										<a href="javascript:void(0);"><img src="https://placehold.it/500x556"
												alt="" /></a>
									</div>
									<div class="dlab-info">
										<div class="icon-bx-sm radius bg-primary m-b20">
											<a href="javascript:void(0);" class="icon-cell">
												<img src="" alt="icon 2" />
											</a>
										</div>
										<h4 class="title"><a href="javascript:void(0);">Biaya Terjangkau, Waktu Training
												Tidak Lama</a></h4>
										<div class="dlab-separator bg-primary m-b0"></div>
										<div class="readmore">
											<p style="color: #fff;">Jadi lebih cepat kalau mau cari kerja sebagai
												montir.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-duration="2s"
								data-wow-delay="0.9s">
								<div class="dlab-box service-box-6">
									<div class="dlab-media">
										<a href="javascript:void(0);"><img src="https://placehold.it/500x556"
												alt="" /></a>
									</div>
									<div class="dlab-info">
										<div class="icon-bx-sm radius bg-primary m-b20">
											<a href="javascript:void(0);" class="icon-cell">
												<img src="" alt="" />
											</a>
										</div>
										<h4 class="title"><a href="javascript:void(0);">Fasilitas Dan Prasarana Training
												yang lengkap</a></h4>
										<div class="dlab-separator bg-primary m-b0"></div>
										<div class="readmore">
											<p style="color: #fff;">Kamu akan dilatih dengan berbagai tools seperti pada
												bengkel sepeda motor yang sesungguhnya.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-duration="2s"
								data-wow-delay="0.3s">
								<div class="dlab-box service-box-6">
									<div class="dlab-media">
										<a href="javascript:void(0);"><img src="https://placehold.it/500x556"
												alt="" /></a>
									</div>
									<div class="dlab-info">
										<div class="icon-bx-sm radius bg-primary m-b20">
											<a href="javascript:void(0);" class="icon-cell">
												<img src="" alt="" />
											</a>
										</div>
										<h4 class="title"><a href="javascript:void(0);">Materi kursus yang berkualitas
												dan teruji</a></h4>
										<div class="dlab-separator bg-primary m-b0"></div>
										<div class="readmore">
											<a href="javascript:void(0);" class="site-button btnhover14">Learn More</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-duration="2s"
								data-wow-delay="0.6s">
								<div class="dlab-box service-box-6">
									<div class="dlab-media">
										<a href="javascript:void(0);"><img src="https://placehold.it/500x556"
												alt="" /></a>
									</div>
									<div class="dlab-info">
										<div class="icon-bx-sm radius bg-primary m-b20">
											<a href="javascript:void(0);" class="icon-cell">
												<img src="" alt="" />
											</a>
										</div>
										<h4 class="title"><a href="javascript:void(0);">Tenaga pengajar yang profesional
												dan berpengalaman</a></h4>
										<div class="dlab-separator bg-primary m-b0"></div>
										<div class="readmore">
											<a href="javascript:void(0);" class="site-button btnhover14">Learn More</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-duration="2s"
								data-wow-delay="0.9s">
								<div class="dlab-box service-box-6">
									<div class="dlab-media">
										<a href="javascript:void(0);"><img src="https://placehold.it/500x556"
												alt="" /></a>
									</div>
									<div class="dlab-info">
										<div class="icon-bx-sm radius bg-primary m-b20">
											<a href="javascript:void(0);" class="icon-cell">
												<img src="" alt="" />
											</a>
										</div>
										<h4 class="title"><a href="javascript:void(0);">Penempatan kerja*</a></h4>
										<div class="dlab-separator bg-primary m-b0"></div>
										<div class="readmore">
											<a href="javascript:void(0);" class="site-button btnhover14">Learn More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Features End -->
				<!-- Service Info Head -->
				<div class="section-full bg-primary" id="peluang">
					<div class="container-fluid">
						<div class="row align-item-center">
							<div class="col-lg-6 p-lr0">
								<div class="video-bx agro-video">
									<img src="https://placehold.it/1000x556" class="img-cover" alt="" />
									<div class="video-play-icon">
										<a href="https://www.youtube.com/watch?v=f4Bts39jimI"
											class="popup-youtube video"><i class="fa fa-play"></i></a>
									</div>
								</div>
							</div>
							<div class="col-lg-6 content-inner-2 agro-about">
								<div class="max-w600 p-lr15">
									<div class="section-head m-b20">
										<h5 class="title-small">Mari Bergabung Meraih Peluang Di Dunia Otomotif Bersama
											Kami!</h5>
										<div class="dlab-separator-outer">
											<div class="dlab-separator bg-white style-skew"></div>
										</div>
										<h2 class="title">Buat kamu yang:</h2>
									</div>
									<ul class="list-check agro-list">
										<li style="color:black; ">Mau bekerja di dunia otomotif sepeda motor</li>
										<li style="color:black; ">Mau buka bengkel sepeda motor sendiri</li>
										<li style="color:black; ">Hobi otomotif dan suka ngoprek motor</li>
									</ul>
									<p style="color:black; ">Techno Motor Academy akan membantu kamu untuk menjadi
										montir sepeda motor profesional. Bersama instruktur berpengalaman dan telah
										teruji, kamu akan dilatih untuk memasuki dunia otomotif sepeda motor.</p
										style="color:black; ">
									<h4>INFO PENDAFTARAN HUBUNGI</h4>
									<a href="#" class="site-button btnhover14 green"><i class="fa fa-whatsapp"></i>
										&nbsp; WhatsApp</a>
									<a href="#" class="site-button btnhover14 white"><i class="fa fa-phone"></i> &nbsp;
										Telpon</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Testimonials -->
				<div class="section-full content-inner-2 bg-white" id="testimoni" style="background-image:url(); background-repeat:no-repeat;
			 background-position:center">
					<div class="container">
						<div class="section-head text-center">
							<h5 class="title-small">Testimonial</h5>
							<div class="dlab-separator-outer">
								<div class="dlab-separator bg-primary style-skew"></div>
							</div>
							<h2 class="title">Kata Para Siswa</h2>
						</div>
						<div
							class="testimonial-one owl-loaded owl-theme owl-carousel owl-btn-center-lr owl-btn-3 agro-client-says">
							<div class="item">
								<div class="testimonial-1">
									<div class="testimonial-text">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
											Lorem Ipsum has been the industry's standard dummy text ever since the when
											an printer took a galley of type and scrambled it to make a type specimen
											book. It has survived not only five centuries, but also the leap into
											electronic typesetting, remaining essentially unchanged. It was popularised
											in the 1960s with the release of Letraset sheets conta</p>
									</div>
									<div class="testimonial-detail clearfix">
										<div class="testimonial-pic radius"><img src="https://placehold.it/100x100"
												width="100" height="100" alt=""></div>
										<div class="info"><strong class="testimonial-name">Siswa 1</strong> <span
												class="testimonial-position">2015</span></div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-1">
									<div class="testimonial-text">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
											Lorem Ipsum has been the industry's standard dummy text ever since the when
											an printer took a galley of type and scrambled it to make a type specimen
											book. It has survived not only five centuries, but also the leap into
											electronic typesetting, remaining essentially unchanged. It was popularised
											in the 1960s with the release of Letraset sheets conta</p>
									</div>
									<div class="testimonial-detail clearfix">
										<div class="testimonial-pic radius"><img src="https://placehold.it/100x100"
												width="100" height="100" alt=""></div>
										<div class="info"><strong class="testimonial-name">Siswa 2</strong> <span
												class="testimonial-position">2017</span></div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-1">
									<div class="testimonial-text">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
											Lorem Ipsum has been the industry's standard dummy text ever since the when
											an printer took a galley of type and scrambled it to make a type specimen
											book. It has survived not only five centuries, but also the leap into
											electronic typesetting, remaining essentially unchanged. It was popularised
											in the 1960s with the release of Letraset sheets conta</p>
									</div>
									<div class="testimonial-detail clearfix">
										<div class="testimonial-pic radius"><img src="https://placehold.it/100x100"
												width="100" height="100" alt=""></div>
										<div class="info"><strong class="testimonial-name">Siswa 3</strong> <span
												class="testimonial-position">2019</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Testimonials END -->
				<!-- Service Info Head End -->
				<div class="section-full content-inner overlay-black-dark" id="team" style="background-image:url(); background-repeat:no-repeat;
			 background-position:center">
					<div class="container">
						<div class="section-head text-center text-white">
							<h5 class="title-small">Tim Kami</h5>
							<div class="dlab-separator-outer">
								<div class="dlab-separator bg-white style-skew"></div>
							</div>
							<h2 class="title">Instruktur</h2>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="dlab-box m-b30 dlab-team10">
									<div class="dlab-media">
										<a href="javascript:;">
											<img alt="" src="https://placehold.it/400x443">
										</a>
									</div>
									<div class="dlab-info">
										<h4 class="dlab-title"><a href="javascript:;">Instruktur 1</a></h4>
										<span class="dlab-position">Bag. Mesin</span>
										<ul class="dlab-social-icon">
											<li><a class="site-button fa fa-facebook facebook"
													href="javascript:void(0);"></a></li>
											<li><a class="site-button fa fa-twitter twitter"
													href="javascript:void(0);"></a></li>
											<li><a class="site-button fa fa-linkedin linkedin"
													href="javascript:void(0);"></a></li>
											<li><a class="site-button fa fa-pinterest pinterest"
													href="javascript:void(0);"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="dlab-box m-b30 dlab-team10">
									<div class="dlab-media">
										<a href="javascript:;">
											<img alt="" src="https://placehold.it/400x443">
										</a>
									</div>
									<div class="dlab-info">
										<h4 class="dlab-title"><a href="javascript:;">Instruktur 2</a></h4>
										<span class="dlab-position">Bag. Rangka</span>
										<ul class="dlab-social-icon">
											<li><a class="site-button fa fa-facebook facebook"
													href="javascript:void(0);"></a></li>
											<li><a class="site-button fa fa-twitter twitter"
													href="javascript:void(0);"></a></li>
											<li><a class="site-button fa fa-linkedin linkedin"
													href="javascript:void(0);"></a></li>
											<li><a class="site-button fa fa-pinterest pinterest"
													href="javascript:void(0);"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="dlab-box m-b30 dlab-team10">
									<div class="dlab-media">
										<a href="javascript:;">
											<img alt="" src="https://placehold.it/400x443">
										</a>
									</div>
									<div class="dlab-info">
										<h4 class="dlab-title"><a href="javascript:;">Instruktur 3</a></h4>
										<span class="dlab-position">Bag. Elektrikal</span>
										<ul class="dlab-social-icon">
											<li><a class="site-button fa fa-facebook facebook"
													href="javascript:void(0);"></a></li>
											<li><a class="site-button fa fa-twitter twitter"
													href="javascript:void(0);"></a></li>
											<li><a class="site-button fa fa-linkedin linkedin"
													href="javascript:void(0);"></a></li>
											<li><a class="site-button fa fa-pinterest pinterest"
													href="javascript:void(0);"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="dlab-box m-b30 dlab-team10">
									<div class="dlab-media">
										<a href="javascript:;">
											<img alt="" src="https://placehold.it/400x443">
										</a>
									</div>
									<div class="dlab-info">
										<h4 class="dlab-title"><a href="javascript:;">Instruktur 4</a></h4>
										<span class="dlab-position">Manager</span>
										<ul class="dlab-social-icon">
											<li><a class="site-button fa fa-facebook facebook"
													href="javascript:void(0);"></a></li>
											<li><a class="site-button fa fa-twitter twitter"
													href="javascript:void(0);"></a></li>
											<li><a class="site-button fa fa-linkedin linkedin"
													href="javascript:void(0);"></a></li>
											<li><a class="site-button fa fa-pinterest pinterest"
													href="javascript:void(0);"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- contact area END -->
		</div>
		<!-- Content END -->
		<!-- Footer -->
		<footer class="site-footer">
			<div class="footer-top overlay-black-dark"
				style="background-image:url(images/background/agriculture/bg3.jpg); background-size: cover;">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-xl-6 col-lg-6 col-sm-6 footer-col-6">
							<div class="widget widget_getintuch">
								<div class="footer-title">
									<h4 class="title text-white">Hubungi Kami</h4>
									<div class="dlab-separator-outer">
										<div class="dlab-separator bg-primary style-skew"></div>
									</div>
								</div>
								<ul>
									<li><i class="ti-location-pin"></i><strong>Alamat</strong> Jl. Ciledug Raya,
										RT.5/RW.5, Cipulir, Kec. Kby. Lama, Kota Jakarta Selatan, Daerah Khusus Ibukota
										Jakarta 12230 <br> Patokanya samping masjid assalam cipulir </li>
									<li><i class="ti-mobile"></i><strong>Telepon</strong> 021 - 53675700 (Sen-Jum |
										09:00 s/d 17.00)</li>
									<li><i class="ti-id-badge"></i><strong>Admin</strong> 0878-7793-3010 (WhatsApp/Call)
									</li>
									<li><i class="ti-email"></i><strong>Email</strong>admin@technomotoracademy.com</li>
								</ul>
							</div>
						</div>
						<div class="col-md-12 col-xl-4 col-lg-4 col-sm-6 footer-col-4 ">
							<div class="widget">
								<div class="footer-title">
									<h4 class="title text-white">Pendaftaran</h4>
									<div class="dlab-separator-outer">
										<div class="dlab-separator bg-primary style-skew"></div>
									</div>
								</div>

								<p class="text-capitalize m-b20">Lorem Ipsum is simply dummy text of the printing and
									typesetting industry has been the industry's standard dummy text ever since the..
								</p>
								<div class="subscribe-form m-b20">
									<form class="dzSubscribe" action="#" method="post">
										<div class="dzSubscribeMsg"></div>
										<div class="input-group">
											<input name="nama" required="required" class="form-control"
												placeholder="Nama" type="text">
										</div>
										<br>
										<div class="input-group">
											<input name="nohp" required="required" class="form-control"
												placeholder="No. HP" type="text">
											<select name="kelas" id="">
												<option disabled>Pilih Kelas: </option>
												<option value="express" selected>Express</option>
												<option value="standard">Standard</option>
											</select>
										</div>
										<br>
											<button name="submit" value="Submit" type="submit"
											class="btn btn-outline-primary">Daftar</button>
										
											<a href="#" class="btn btn-outline-success">Kirim WA</a>
										<br>
										
										
								</div>
								</form>
							</div>
							<!-- 
                            <ul class="list-inline m-a0">
								<li><a href="javascript:void(0);" class="site-button facebook circle "><i class="fa fa-facebook"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button google-plus circle "><i class="fa fa-google-plus"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button linkedin circle "><i class="fa fa-linkedin"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button instagram circle "><i class="fa fa-instagram"></i></a></li>
								<li><a href="javascript:void(0);" class="site-button twitter circle "><i class="fa fa-twitter"></i></a></li>
                            </ul> 
                            -->
						</div>
					</div>
				</div>
			</div>
	</div>
	<!-- footer bottom part -->
	<div id="daftar" class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 text-left "> <span>Copyright © 2020 Techno Motor Academy - Kursus
						montir Motor No. 1 Di Indonesia</span> </div>
				<div class="col-md-6 col-sm-6 text-right ">
					<div class="widget-link ">
						<ul>
							<li><a href="javascript:void(0);">Sitemap </a></li>
							<li><a href="javascript:void(0);">Kebijakan Privasi</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	</footer>
	<!-- Footer END-->

	<button class="scroltop style2 radius" type="button"><i class="fa fa-arrow-up"></i></button>
	</div>
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="{{ .Site.BaseURL }}/plugins/wow/wow.js"></script><!-- WOW JS -->
	<script src="{{ .Site.BaseURL }}/plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="{{ .Site.BaseURL }}/plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="{{ .Site.BaseURL }}/plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
	<script src="{{ .Site.BaseURL }}/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
	<!-- FORM JS -->
	<script src="{{ .Site.BaseURL }}/plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="{{ .Site.BaseURL }}/plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="{{ .Site.BaseURL }}/plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="{{ .Site.BaseURL }}/plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
	<script src="{{ .Site.BaseURL }}/plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
	<script src="{{ .Site.BaseURL }}/plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
	<script src="{{ .Site.BaseURL }}/plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
	<script src="{{ .Site.BaseURL }}/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
	<script src="{{ .Site.BaseURL }}/js/dz.carousel.min.js"></script><!-- SORTCODE FUCTIONS  -->
	<script src="{{ .Site.BaseURL }}/js/dz.ajax.js"></script><!-- CONTACT JS  -->
	<!-- REVOLUTION JS FILES -->
	<script src="{{ .Site.BaseURL }}/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="{{ .Site.BaseURL }}/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
	<script
		src="{{ .Site.BaseURL }}/plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script
		src="{{ .Site.BaseURL }}/plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script
		src="{{ .Site.BaseURL }}/plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script
		src="{{ .Site.BaseURL }}/plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script
		src="{{ .Site.BaseURL }}/plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script
		src="{{ .Site.BaseURL }}/plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script
		src="{{ .Site.BaseURL }}/plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script
		src="{{ .Site.BaseURL }}/plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script src="{{ .Site.BaseURL }}/js/rev.slider.js"></script>
	<script>
		jQuery(document).ready(function () {
			'use strict';
			dz_rev_slider_3();
		});	/*ready*/
	</script>
</body>

</html>