<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="{{ .Keywords }}" />
	<meta name="author" content="Momo Web" />
	<meta name="description" content="{{ .Description }}" />
	<meta property="og:title" content="{{ .Title }}" />
	<meta property="og:description" content="{{ .Description }}" />
	<meta property="og:image" content="" />

	<!-- FAVICONS ICON -->
	<link rel="icon" href="{{ .Site.BaseURL }}/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}/images/favicon.png" />

	<!-- PAGE TITLE HERE -->
	<title>{{ .Title }}</title>

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if lt IE 9]>
	<script src="{{ .Site.BaseURL }}/js/html5shiv.min.js"></script>
	<script src="{{ .Site.BaseURL }}/js/respond.min.js"></script>
	<![endif]-->

	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/plugins.css">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/style.css">
	<link class="skin" rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/skin/skin-3.css">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/templete.css">
	<!-- Google Font -->
	<style>
		@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap');
	</style>

	<!-- REVOLUTION SLIDER CSS -->
	<link rel="stylesheet" type="text/css"
		href="{{ .Site.BaseURL }}/plugins/revolution/revolution/css/revolution.min.css">


</head>

<body id="bg">
	<div class="page-wraper">
		<!-- <div id="loading-area" class="agriculture-loading"></div> -->
		{{ partial "feature-navigation" . }}
		<!-- Content -->
		<div class="page-content bg-white">
			<!-- content area -->
			<div class="content-block">
				<!-- Features -->
				<div class="section-full content-inner overlay-black-light" style="background-image:url({{.Site.BaseURL}}/images/background/background-csr-project.jpg);">
					<div class="container text-center text-white" id="tentang">
						<div class="section-head">
							<h5 class="title-small">Program CSR</h5>
							<div class="dlab-separator-outer">
								<div class="dlab-separator bg-primary style-skew"></div>
							</div>
							<h2 class="title">Techno Motor Academy</h2>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-12">
								<p>Techno Motor Academy adalah sekolah mekanik sepeda motor dimana kami bekerja sama
									dengan banyak perusahaan untuk mengubah hidup masyarakat menjadi lebih positif.
									Meningkatkan keahlian otomotif untuk menyerap sumber daya manusia yang dapat menjadi
									jawaban atas permintaan servis sepeda motor di Indonesia.</p>
							</div>
							<div class="col-md-4 col-sm-12">
								<p>Kami secara konstan memberikan pelatihan montir sepeda motor yang saat ini memiliki
									potensi pasar yang sangat besar di Indonesia. Dengan peningkatan sumber daya manusia
									yang baik, kami percaya akan ada perubahan sosial ke arah positif baik dari segi
									masyarakat maupun pengguna sepeda motor.</p>
							</div>
							<div class="col-md-4 col-sm-12">
								<p>Penekanan pada kualitas selalu mengarahkan langkah kami kepada kemajuan yang tidak
									setengah-setengah. Kami menyiapkan infrastruktur yang memadai dan tepat guna untuk
									setiap project, dibantu dengan instruktur yang berpengalaman dan berstandar untuk
									menunjang kegiatan pelatihan menjadi lebih produktif dan mencapai target yang
									diinginkan. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content area END -->
			<div style="height:100px;" class="bg-primary"></div>
		</div>
		<!-- Content END -->
		{{ partial "footer-wo-js" . }}