
		<!-- Footer -->
		<footer class="site-footer">
			<div class="footer-top overlay-black-dark"
				style="background-image:url({{.Site.BaseURL}}/images/footer-bg.jpg); background-size: cover;">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-xl-6 col-lg-6 col-sm-6 footer-col-6">
							<div class="widget widget_getintuch">
								<div class="footer-title">
									<h4 class="title text-white">Hubungi Kami</h4>
									<div class="dlab-separator-outer">
										<div class="dlab-separator bg-primary style-skew"></div>
									</div>
								</div>
								<ul>
									<li><i class="ti-location-pin"></i><strong>Alamat</strong> Jl. Ciledug Raya,
										RT.5/RW.5, Cipulir, Kec. Kby. Lama, Kota Jakarta Selatan, Daerah Khusus Ibukota
										Jakarta 12230 <br> Patokanya samping masjid assalam cipulir </li>
									<li><i class="ti-mobile"></i><strong>Telepon</strong> 021 - 53675700 (Sen-Jum |
										09:00 s/d 17.00)</li>
									<li><i class="ti-id-badge"></i><strong>Admin</strong> 0878-7793-3010 (WhatsApp/Call)
									</li>
									<li><i class="ti-email"></i><strong>Email</strong>admin@technomotoracademy.com</li>
								</ul>
							</div>
						</div>
						<div class="col-md-12 col-xl-4 col-lg-4 col-sm-6 footer-col-4 ">
							<div class="widget">
								<div class="footer-title">
									<h4 class="title text-white">Pendaftaran</h4>
									<div class="dlab-separator-outer">
										<div class="dlab-separator bg-primary style-skew"></div>
									</div>
								</div>

								<p class="m-b20">
                                    <p>Isi form di bawah ini untuk gabung kursus montir motor di Techno Motor Academy.</p> 
                                    <div class="subscribe-form m-b20">
										<form class="dzForm" action="{{ .Site.BaseURL }}/form.php" method="post">
											<div class="input-group">
												<input name="nama" id="formNama" class="form-control" placeholder="Nama"
													type="text">
											</div>
											<br>
											<div class="input-group">
												<input name="nohp" id="formNohp" class="form-control"
													placeholder="No. HP" type="text">
												<select name="kelas" id="formKelas">
													<option disabled>Pilih Kelas: </option>
													<option value="express" selected>Express</option>
													<option value="standard">Standard</option>
												</select>
											</div>
											<br>
											<button name="submit" value="Submit" type="submit"
												class="btn btn-outline-primary">Daftar</button>

											<a href="https://api.whatsapp.com/send?phone=6287877933010" id="wabutton"
												class="btn btn-outline-success">Kirim WA</a>


											<br>
									</div>
									</form>
									<div class="dzFormMsg"></div>
							</div>

						</div>
					</div>
				</div>
			</div>
	</div>

	<div id="daftar" class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 text-left "> <span>Copyright © 2020 Techno Motor Academy - Kursus
						montir Motor No. 1 Di Indonesia</span> </div>
				<div class="col-md-6 col-sm-6 text-right ">
					<div class="widget-link ">
						<ul>
							<li><a href="javascript:void(0);">Sitemap </a></li>
							<li><a href="javascript:void(0);">Kebijakan Privasi</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	</footer>


	<button class="scroltop style2 radius" type="button"><i class="fa fa-arrow-up"></i></button>
	</div>

	<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
	<script src="{{ .Site.BaseURL }}/plugins/wow/wow.js"></script>
	<script src="{{ .Site.BaseURL }}/plugins/bootstrap/js/popper.min.js"></script>
	<script src="{{ .Site.BaseURL }}/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="{{ .Site.BaseURL }}/plugins/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="{{ .Site.BaseURL }}/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>

	<script src="{{ .Site.BaseURL }}/plugins/magnific-popup/magnific-popup.js"></script>
	<script src="{{ .Site.BaseURL }}/plugins/counter/waypoints-min.js"></script>
	<script src="{{ .Site.BaseURL }}/plugins/counter/counterup.min.js"></script>
	<script src="{{ .Site.BaseURL }}/plugins/imagesloaded/imagesloaded.js"></script>
	<script src="{{ .Site.BaseURL }}/plugins/masonry/masonry-3.1.4.js"></script>
	<script src="{{ .Site.BaseURL }}/plugins/masonry/masonry.filter.js"></script>
	<script src="{{ .Site.BaseURL }}/plugins/owl-carousel/owl.carousel.js"></script>
	<script src="{{ .Site.BaseURL }}/js/custom.js"></script>
	<script src="{{ .Site.BaseURL }}/js/dz.carousel.min.js"></script>
	<script src="{{ .Site.BaseURL }}/js/dz.ajax.js"></script>
	<script>
		jQuery(document).ready(function () {
			'use strict';

			var nama = $("input[name=nama]").val();
			var nohp = $("input[name=nohp]").val();
			var kelas = $("select[name=kelas]").val();

			$("#wabutton").click(function () {
				$('#wabutton').attr('href', function () {
					return this.href + "&text=Nama%3A%20" + nama + "%0ANo.%20HP%3A%20" + nohp + "%0AKelas%3A%20" + kelas;
				});
			});
		});	 
	</script>
</body>

</html>