<!DOCTYPE html>
<html lang="en">

<head>
  <title>Nebro Portfolio Template</title>
  <meta charset="UTF-8">
  <meta name="description" content="Nebro Portfolio Template">
  <meta name="keywords" content="onepage, portfolio">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/font/stylesheet.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css" />

  <!--[if lt IE 9]>
  	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  	<![endif]-->

  <!-- Font icons -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/icon-fonts/fontawesome-5.0.6/css/fontawesome-all.min.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/icon-fonts/flat-icon/flaticon.css" />

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&amp;display=swap" rel="stylesheet">

</head>

<body class="dark">

  <!-- PRELOADER -->
  <div id="preloader">
    <div class="loading-area">
      <div class="logo"><img src="{{ .Site.BaseURL }}/img/logo.png" alt=""></div>
      <span>loading...</span>
    </div>
    <div class="left-side"></div>
    <div class="right-side"></div>
  </div>