<!-- header -->
<header class="site-header mo-left header-transparent header agro-header">
    <!-- main header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar clearfix ">
            <div class="container clearfix">
                <!-- website logo -->
                <div class="logo-header mostion">
                    <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}/images/logo-tma-dark.png"
                            height="60" alt=""></a>
                </div>
                <!-- nav toggle button -->
                <button class="navbar-toggler collapsed navicon justify-content-end" type="button"
                    data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- extra nav -->
                <div class="extra-nav">
                    <div class="extra-cell">
                        <a href="#daftar"
                            class="site-button align-self-center outline ml-auto outline-2 scroll">Daftar!</a>
                    </div>
                </div>
                <!-- main nav -->
                <div class="header-nav navbar-collapse collapse justify-content-center onepage"
                    id="navbarNavDropdown">
                    <div class="logo-header d-md-block d-lg-none">
                        <a href="{{ .Site.BaseURL }}"><img
                                src="{{ .Site.BaseURL }}/images/logo-tma.png" alt=""></a>
                    </div>
                    <ul class="nav navbar-nav navbar">
                        <li><a href="#home" class="scroll nav-link">Beranda</i></a></li>
                        <li><a href="#tentang" class="scroll nav-link">Tentang Kami</a></li>
                        <li><a href="#peluang" class="scroll nav-link">Ayo Gabung Disini!</a></li>
                        <li><a href="#testimoni" class="scroll nav-link">Testimoni</a></li>
                        <li><a href="#team" class="scroll nav-link">Team</a></li>
                        <li>
                            <a href="#">Info</a>
                            <ul class="sub-menu">
                                <li><a href="{{ .Site.BaseURL }}/program-pelatihan">Program Pelatihan</a></li>
                                <li><a href="{{ .Site.BaseURL }}/program-csr">Program CSR</a></li>
                                <!-- <li><a href="{{ .Site.BaseURL }}/galeri">Galeri</a></li> -->
                            </ul>
                        </li>
                    </ul>
                    <!-- <div class="dlab-social-icon">
                    <ul>
                        <li><a class="site-button facebook sharp-sm fa fa-facebook" href="javascript:void(0);"></a></li>
                        <li><a class="site-button twitter sharp-sm fa fa-twitter" href="javascript:void(0);"></a></li>
                        <li><a class="site-button linkedin sharp-sm fa fa-linkedin" href="javascript:void(0);"></a></li>
                        <li><a class="site-button instagram sharp-sm fa fa-instagram" href="javascript:void(0);"></a></li>
                    </ul>
                </div>			 -->
                </div>
            </div>
        </div>
    </div>
    <!-- main header END -->
</header>
<!-- header END -->