  <!-- HEADER 
==================================================-->
<header>
    <!-- Logo -->
    <div class="logo">
      <img src="img/logo.png" alt="">
    </div>
    <div class="nav-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- Navigation -->
    <nav>
      <ul>
        <li><a href="#hero"><span data-hover="Home">Home</span></a></li>
        <li><a href="#about"><span data-hover="About">About</span></a></li>
        <li><a href="#services"><span data-hover="Services">Services</span></a></li>
        <li><a href="#testimonials"><span data-hover="Testimonials">Testimonials</span></a></li>
        <li><a href="#portfolio"><span data-hover="Portfolio">Portfolio</span></a></li>
        <li><a href="#news"><span data-hover="News">News</span></a></li>
        <li><a href="#contact"><span data-hover="Contact">Contact</span></a></li>
      </ul>
    </nav>
  </header>